.container {
  display: flex;
  justify-content: center;
  width: 100%;
  span {
    color: black;
  }
}

.wrapperProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  border: 4px solid #4640DE;
  padding: 20px;

  img {
    width: 100px;
    margin-bottom: 15px;
  }

  span {
    margin-bottom: 15px;
  };

  button {
    width: 200px;
  }
}
