.text {
  font-weight: 400;
  font-size: 16px;
  color: rgba(102, 112, 133, 1);
  line-height: 24px;
}

.textPassLength {
  font-size: 14px;
  line-height: 20px;
  margin-top: -16px;
  text-align: start;
  margin-bottom: 20px;
  width: 100%;
}

.textLogin {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #667085;
  white-space: nowrap;
}

.textSmall {
  font-size: 14px;
}
