.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;

  span {
    margin-bottom: 10px;
    color: #4640DE;
    font-weight: 600;
    text-align: center;
  }
  div {
    margin: 0 auto;
  }
}
